{% extends "hello/layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<div class = "abm">
    <br>
<h1>About Aaron </h1>
</div>
<br>

<section class = "bom">
<h2 style="text-align:left"> Background</h2>
</section>
<div class = background>
<p>My name is Aaron Hannah and I am from Snellville, GA. A city just outside of Atlanta.
    Growing up I was always attached to a computer, everywhere I went I tried to bring one
    with me. I also had an interest in science from a very young age. I dreamed about going to space,
    I watched Star Wars all the time, I even wanted to be an astronaut. Deep down I always knew I wanted
    to be an engineer too however. I am not entirely sure how a 6 year old tells their mother
    they want to be an engineer but I did. By the time I was in high school I decided I pursue
    a degree in computer science/ software engineering.
</p>
</div>
<br>
<div class = today>
<p>
    Today, I am studying Software Rngineering at Kennesaw State University here in Georgia, very close to home.
    My interest and love for computing has only grown since coming to college in the fall of 2020.
    Covid has impacted my college life thus far but, I have chosen to prevail at all cost and turn my
    dreams into a relality. So, if you've come across this website I really apperciate you! Thank you for being 
    apart of my journey. It really does mean a lot to me! Stay tuned to see what the future holds for me!
</p>
</div>
<br>

{% endblock %}
