<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
    </head>
    <div class="splash">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hello/splashPageCSS.css' %}"/>
        <h1 class="fade-in">Hey, welcome to my personal page! :)</h1>
        
        <a href="home">
        <button class="cybr-btn fade-in-long">
            Enter<span aria-hidden>_</span>
            <span aria-hidden class="cybr-btn__glitch">Enter</span>
            <span aria-hidden class="cybr-btn__tag">AJH</span>
          </button>
        </a>
    </div>
</html>
    