@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
  }


  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      font-family: "Cyber";
  }

.navbar {
    font-size: 20px;
    font-family: 'Cyber', sans-serif;
    color: #3a3c3e;
    padding: 30px 75px 20px 75px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
   font-size: 20px;
    margin-left: 30px;
    float: right;
}

.body-content {
    padding: 120px;
    font-family:'Cyber', sans-serif;
    color: #3a3c3e;
}


.homePageText{
    text-align: center;
    font-family: 'Cyber', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
 }

 .abm {
  font-size: 25px;
  text-align: center;
  right: 10;
  font-weight: 400;
 }

 .background {
  max-width: 1000px;
  font-size: 20px;
 }

 .bom{
  font-size: 28px;
  color: red;
  font-weight: 1000;
 }

 .today{
  max-width: 1000px;
  font-size: 20px;
 }

 .intro{
  font-size: 35px;
  text-align: center;
 }

 .hah{
  text-align: center;
  font-size: 28px;

 }

 .me{
  size: 1px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .social-list{
  text-align: center;
  font-size: 30px;
 }

 ul > li {
  display: inline-block;
  text-align: right;
  max-width: 20rem;
  margin-right: 3rem
  /* You can also add some margins here to make it look prettier */
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


 @media only screen and (min-device-width: 320px) and (max-device-width:480px) {
  
  .navbar{
    padding: 20px;
  }
  .body-content{
    padding: 50px;
  }
  .hah{
      font-size:1em
  }

  .intro{
    font-size: 1.25em;
  }

  .today{
    font-size: 1.2em;
    max-width: 1500%;
  }

  .background{
    font-size: 1.2em;
    max-width: 1500%;
  }

  .bom h2{
    font-size: 1em;
  }

  .abm{
    font-size: 1.2em;
  }
}


@media only screen and (max-device-width: 768px) {
  .me{
    height: auto;
      width:10rem
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width:480px) {
  ul > li {
      font-size:1.4rem;
      margin: 1.6rem 0 1.6rem 0
  }
}
